<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"><author href="" email=""></author><gap:platform name="ios" /><gap:platform name="android" /><gap:platform name="winphone" /><preference name="orientation" value="default" /><preference name="target-device" value="universal" /><preference name="phonegap-version" value="3.0.0" /><preference name="fullscreen" value="false" /><preference name="webviewbounce" value="true" /><preference name="ios-statusbarstyle" value="default" /><preference name="auto-hide-splash-screen" value="true" /><preference name="permissions" value="none"/><access origin="*" subdomains="true"/></widget>
